<p id="notice"><%= notice %></p>
<% if current_user.role == 'secretaria' %>
  <div class="row">
    <div class="col-md-8">
    <%= form_tag '/search/create', method: :get, remote: true, id: "search-form" do %>
      <%= text_field :keyword, nil, placeholder: 'Buscador', class:'form-control col-md-6'%>
      <br>
      <%= button_tag :Buscar, class:'btn btn-secondary col-md-3'%>
    <% end %>
  </div>
    </div>
<% end %>
<% if current_user.role == 'integrador' %>
  <div class="row">
    <div class="col-md-8">
    <%= form_tag '/search/create', method: :get, remote: true, id: "search-form" do %>
      <%= text_field :keyword, nil, placeholder: 'Buscador', class:'form-control col-md-6'%>
      <br>
      <%= button_tag :Buscar, class:'btn btn-secondary col-md-3'%>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="float-right">
        <%= link_to "EXPORTAR xlsx", pensioners_path(format: "xlsx"),class:'btn btn-success text-white'%>
    </div>
  </div>
  </div>
<% end %>
<% if current_user.role == 'coordinador' %>
  <div class="row">
    <div class="col-md-8">
    <%= form_tag '/search/create', method: :get, remote: true, id: "search-form" do %>
      <%= text_field :keyword, nil, placeholder: 'Buscador', class:'form-control col-md-6'%>
      <br>
      <%= button_tag :Buscar, class:'btn btn-secondary col-md-3'%>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="float-right">
        <%= link_to "EXPORTAR xlsx", pensioners_path(format: "xlsx"),class:'btn btn-success text-white'%>
    </div>
  </div>
  </div>
<% end %>

<div class="resultados"></div>
<!-- <%= form_tag '/search/filter', method: :get, remote: true, id: "search-form" do %>
  <%= date_select :date_keyword, nil%>
  <%= button_tag :Enviar%>
<% end %> -->
<!-- <div class="col-md-12">

  <% if current_user.role == 'coordinador' %>
    <%= form_tag '/search/create', method: :get, remote: true, id: "search-form" do %>
      <%= text_field :keyword, nil, placeholder: 'Buscador', class:'form-control'%>
      <br>
      <%= button_tag :Buscar, class:'btn btn-secondary'%>
    <% end %>
    <%= button_tag :Atendidos, class:'btn btn-warning mr-3'%>
    <%= button_tag 'En firma', class:'btn btn-primary mr-3'%>
    <%= button_tag 'Por antender', class:'btn btn-info mr-3'%>
    <%= link_to "EXPORTAR xlsx", pensioners_path(format: "xlsx"),class:'btn btn-info text-white'%>
  <% end %>
</div> -->



<br>
<% if current_user.role.include?('secretaria')%>
  <%= link_to 'Nuevo registro', new_pensioner_path, class:'btn btn-primary text-white float-right mb-3' %>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Turno</th>
      <th scope="col">Número oficio</th>
      <th scope="col">Fecha oficio</th>
      <th scope="col">Fecha recepción</th>
      <th scope="col">Promovente</th>
      <th scope="col">Número juicio</th>
      <th scope="col">Turnado</th>
      <th scope="col">Número correspondencia</th>
      <th scope="col">Anexo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pensioners.each do |pensioner| %>
      <tr>
        <td><%= pensioner.turno %></td>
        <td><%= pensioner.numero_oficio %></td>
        <td><%= pensioner.fecha_oficio %></td>
        <td><%= pensioner.fecha_recepcion %></td>
        <td><%= pensioner.promovente %></td>
        <td><%= pensioner.numero_juicio %></td>
        <td><%= pensioner.turnado %></td>
        <td><%= pensioner.numero_correspondencia%></td>
        <td><%= link_to pensioner.anexo1.original_filename, pensioner.anexo1.url, target: '_blank', id:'pdf-link' %></td>
        <td><%= link_to 'Editar', edit_pensioner_path(pensioner),class:'btn btn-secondary text-white' %></td>
        <td><%= link_to 'Mostrar', pensioner_path(pensioner),class:'btn btn-secondary text-white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= will_paginate @pensioners, previus_label: 'Anterior', next_label: 'Siguiente' %>
